body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(196, 196, 196, 0.418);
}

img {
    max-width: 50vw;
    max-height: auto;
}

p {
    max-width: 50vw;
    color:tomato;
    font-weight: bold;
    font-size: 22px;
}

h1, h2 {
    font-weight: 500;
    background-color: rgb(255, 219, 219);
    color: rgb(47, 0, 255);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

li {
    font-size: 22px;
    color: purple;
}