body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(196, 196, 196, 0.418);
}

img {
    width: 200px;
    max-width: 50vw;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    background-color: rgb(255, 219, 219);
    color: rgb(47, 0, 255);
    width: 300px;
    text-align: center;
}

li a{
    font-size: 24px;
}